.school-history {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.high-school {
    max-width: 24rem;
}

.education-lists, .skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.awards-and-honors {
    max-width: 18rem;
    margin: 20px;
    justify-content: space-around;
}

.skills {
    max-width: 48rem;
    margin: 20px;
    justify-content: center;
}

.courses {
    max-width: 22rem;
    margin: 20px;
    justify-content: right;
}

.school-images {
    width: 30%;
    height: 30%;
    background: inherit;
    border:none;
}
.school-images > img {
    width:100px;
    height:100px;
    flex-shrink: 4;
}