.school-history {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.high-school {
    max-width: 24rem;
}

.school-images {
    width: 30%;
    height: 30%;
    background: inherit;
    border:none;
}
.school-images > img {
    width:100px;
    height:100px;
    flex-shrink: 4;
}