.accordion {
    width: 80%;
    margin-left: 10%;
    border-radius: 50%;
}

.hobbies-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 33%;
}

.hobby-item {
    border: 1px solid black;
    border-radius: 100%;
    padding: 50px;
    width: 50%;
    color: rgb(109, 107, 107);
    font-size: 30px;
}

.hobby-1, .hobby-2, .hobby-3 {
    background-color: inherit;
}
