.card-group {
    width: 80%;
    margin-left: 10%;
    border-radius: 50%;
}

.card > img {
    height: 25%;
    width: 25%;
    margin: auto;
}

.project-settings-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    height: max-content;
}